[Unit]
Description=uWSGI instance to serve subvertic
After=network.target

[Service]
User=subvertic
Group=www-data
WorkingDirectory=/home/subvertic/apps/subvertic
Environment="PATH=/home/subvertic/apps/subvertic/bin"
ExecStart=/home/subvertic/apps/subvertic/bin/uwsgi --ini subvertic.ini

[Install]
WantedBy=multi-user.target
